@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Rubik:wght@500;600&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
img{
    width: 100%;
}
:root{
    --sm-h2:2em;
    --md-h2:3em;
    --font-color:#010304;
    --sm-h3:1.5em;
    --md-h2:1.5em;
    --sm-p:1.1em;
}
body{

}
.nav-bar{
    /* background: #010304; */
    /* color: #fff; */
}